body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: url("https://t4.ftcdn.net/jpg/02/10/45/95/360_F_210459536_XmLDEcKq2DpeNLVmheuWeu9NM9aGKnih.jpg");
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #slider {
            position: fixed;
            top: 0;
            left: -280px;
            height: 100%;
            width: 280px;
            color: #fff;
            padding: 9px;
            background: #EEE;
            transition: left 0.3s ease;
            overflow-y: hidden;
        }

        #openBtn {
            position: fixed;
            left: 19px;
            border: none;
            padding: 5px;
            font-size: 20px;
            background-color: transparent;
            color: #000;
            border-radius: 10px;
            cursor: pointer;
            z-index: 1;
        }

        .x {
            left: 15px;
            top: 15px;
            border: none;
            padding: 7px;
            background-color: red;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            z-index: 1;
        }

        h1 {
            color: #333;
        }

        .system-info {
            margin-bottom: 10px;
        }

        .system-info p {
            margin-bottom: 7px;
            color: #000;
            font-weight: bold;
        }

        .chart-container {
            margin-bottom: 25px;
            width: 35.2%;
        }

        canvas {
            width: 100%;
            height: auto;
        }

        /* Chart colors */
        .chart-color-cpu {
            background-color: rgba(75, 192, 192, 0.2);
            border-color: rgba(75, 192, 192, 1);
        }

        .chart-color-ram {
            background-color: rgba(255, 99, 132, 0.2);
            border-color: rgba(255, 99, 132, 1);
        }

        .chart-color-storage {
            background-color: rgba(255, 206, 86, 0.2);
            border-color: rgba(255, 206, 86, 1);
        }

        .chart-color-display-width {
            background-color: rgba(153, 102, 255, 0.2);
            border-color: rgba(153, 102, 255, 1);
        }

        .chart-color-display-height {
            background-color: rgba(255, 159, 64, 0.2);
            border-color: rgba(255, 159, 64, 1);
        }
        .article {
            display: none;
        }
        .items{
          text-align: center;
        }
        .button{
        padding: 8px;
        background: transparent;
        font-family: 'Josefin Sans', sans-serif;
        border-color: #000;
        border: 1px solid;
        
    }
    .button:hover{
       font-family: 'Josefin Sans', sans-serif; 
       background: #000;
       font-weight: bolder;
       color: white;
    }
    .input-container {
            display: flex;
            align-items: center;
            max-width: 260px;
            margin: 20px auto;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 5.4px;
        }
        .input-container img {
            max-width: 30px;
            margin-right: 8px;
        }
        .input-container input {
            flex: 1;
            padding: 8px;
            background: transparent;
            border: none;
            outline: none;
        }
        .input-container button {
            background-color: transparent;
            color: #000;
            border: none;
            border-radius: px;
            cursor: pointer;
        }
        .icons {
            width: 18px;
        }
        #addSiteForm {
      display: none;
    }

    .addedSite {
      margin-bottom: 10px;
      font-family: 'Arial', sans-serif;
      margin-left: 10px;
      border-radius: 18px;
      align-items: center;
    }

    .siteIcon {
      width: 20px;
      margin-right: 5px;
      cursor: pointer;
    }

    #plusIcon {
      cursor: pointer;
      width: 10px;
      margin-left: 498px;
    }
    a {
      font-family: 'Josefin Sans', sans-serif;
      text-decoration: none;
      color: #000;
      font-size: 25px;
      position: relative;
    }

    .deleteButton {
      margin-left: 5px;
      border: none;
      padding: 5px;
      border-radius: 5px;
      background: transparent;
    }
    .add{
      font-family: 'Roboto', sans-serif;
      width: 195px;
      padding: 5px;
      border-radius: 5px;
      border: none;
      background: grey;
      color: #FFF;
    }
    .edit {
      font-family: 'Roboto', sans-serif;
      width: 40px;
      padding: 5px;
      border-radius: 5px;
      border: none;
      background: transparent;
    }

    .addedSite {
      display: flex;
      background-color: #fff;
      padding: 8px;
      width: 260px;
      padding: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .deleteButton {
      position: fixed; 
      left: 700px;
    }

    .edit {
      position: fixed;
      left: 730px;
    }


    #addedSitesContainer {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    #popup {
      display: none;
      position: fixed;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .int{
        padding: 4px;
        width: 180px;
        outline: none;
    }
    @media screen and (max-width: 600px) {
        #plusIcon {
      margin-left: 55px;
  }
  .addedSite {
      display: flex;
      text-align: right;
      background-color: #fff;
      padding: 12px;
      border-radius: 18px;
      width: 270px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    #addedSitesContainer {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .deleteButton {
      position: fixed; 
      left: 260px;
    }

    .edit {
      position: fixed;
      left: 290px;
    }
}
button{
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.centered-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ddd;
    padding: 20px;
    z-index: 3;
}
#myButton {
    width: 40px;
    border: none;
    background: transparent;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.btnImg{
    width: 30px;
    border: none;
    background: transparent;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.btnIng{
    width: 40px;
    border: none;
    background: transparent;
}
@media only screen and (max-width: 600px) {
    body {
        background-size: 1000%; 
    }
}
